*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container1{
    padding: 20px 50px;
    width: 100%;
    height: 100%;

}
.toppage{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.navbar h1 img{
    width: 30px;
    height: 30px;
}
.navbar{
    display: flex;
    align-items: baseline;
}
.toppage .navbar nav li {
    list-style: none;
    display: inline;
    padding-left: 50px;
    opacity: 0.8;
}
.navbar nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navbar nav li a:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
.button1 #bar{
    display: none;
}
.button1 #button1{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-size: 15px;
    background-color: black;
    color: white;
}
.main{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 10px;
}
.main .heading{
    width: 50%;
    font-size: 30px;
}
.main .article{
    width: 50%;
    font-size: 20px;
    opacity: 0.7;
    
}
.article button{
    width: 150px;
    margin-top: 30px;
    height: 60px;
    border-radius:20px ;
    font-size: 17px;
    font-weight: 700;
}
.article #two{
    margin-left: 20px;
}
.article button:hover{
    background-color: orangered;
    color: white;
    border: none;
}
.article #one{
    background: orangered;
    border: none;
    color: white;
}
.photo{
    margin-top: 50px;
    position: relative;
}
.photo #img1{

    width: 60%;
    height: 60%;
    border-radius: 20px;
}
.photo #img2{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 30%;
    border-radius: 20px;
    right: 1%;
    
}.take{
    margin-top: 200px;
}
.take h2{
   text-align: center;
   font-size: 40px;
}

.paras{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
   
}
.paras .para{
    width: 30%;
    text-align: center;
    font-size: 20px;
}
.paras .para h2{
    color: orangered;
}
.paras .para h2{
    margin-top: 10px;

}
.paras .para p{
    margin-top: 10px;
    opacity: 0.6;
}
.container2{
    margin-top: 20px;
    background-color: rgb(244, 242, 238);
    padding: 20px 50px;
}
.box{
    width: 100%;
    border: 1px solid rgb(180, 166, 166);
    background-color: white;
    border-radius: 10px;
    position: relative;
    
}
.container2 h2{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
.box img{
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
}
.employee{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
}
.box button{
    position: absolute;
    z-index: 1;
    width: 130px;
    height: 35px;
    background-color: white;
    border-color: bisque;
    border-radius: 10px;
    left: 10px;
    top: 10px;
    font-weight: 600;
}
.name{
    padding: 30px;
}.link{
    display: flex;
    align-items: baseline;
    justify-content:space-between ;
    font-size: 20px;
}
.link i{
    font-size: 40px;
    color: orangered;
}.name p{
    font-size: 15px;
    width: 80%;
}.border{
    margin-top: 20px;
    width: 33.3%;
    border:1px solid rgb(253, 228, 206);
    border-radius: 10px;
}
.border img{
    width: 100%;
    height: 250px;
}
.div{
    display: flex;
    gap: 30px;
}
.container3{
    margin-top: 50px;
    padding: 20px 50px;
}
.container3 h2{
    font-size: 30px;
}
.container3 img{
    border-radius: 10px;
    background: white;
}
.paras{
    display: flex;
    justify-content: space-evenly;
  
}
.paras p{
    opacity: 0.5;
}
.container4{
    margin-top: 50px;
    padding:20px 50px;
}
.border{
    width: 30%;
    background-color: #fff;
}
.border h3{
    padding: 20px;
}
.border img{
    width: 100%;
    border-radius: 10px;
}
.email{
    height: 50%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: orangered;
    border-radius: 20px;

}
.form{
   
    width: 50%;
    height: 100%;
    position: relative;
}
.email h1{
    width: 50%;
    font-size: 40px;
    color: white;
    padding-left: 30px;
} #email{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}.email #submit{
    position: absolute;
    width: 30%;
    background-color: orangered;
    height: 50px;
    border: none;
    border-radius: 10px;
    right: 3%;
    top: 10%;
    cursor: pointer;
}
.container5{
    display: flex;
    background-color: black;
    padding:100px 50px;
}
.foot{
    width: 40%;
    color: white;
    align-items: center;
}

.footer{
    color: #fff;
    width:30%;
}
.foot1{
    display: flex;
    width: 100%;
    padding:10px;
}
.ul{
    display: flex;
}
.ul a{
    text-decoration: none;
    color: #fff;
}
.ul1 li {
    display: block;
    padding:10px;
}
.ul2 li {
    display: block;
    padding:10px;
}
.ul3 li {
    display: block;
    padding:10px;
}
.foot h2 img{
    width: 30px;
}.foot p{
    margin-top: 10px;
    font-size: 20px;
    opacity: 0.5;
    width: 100%;
}
.last{
    background-color: black;
    color: #fff;
    padding:20px;
    border-top:1px solid #fff;
}

.last #copy span{
    color: orangered;
    text-decoration: underline;
}
.last p{
    text-align: center;
}
#bar{
    font-size: 30px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 35px;
    display: none;
}





@media only screen and (max-width:1024px ) {
    .navbar h1{
        font-size: 20px;
    }.navbar nav li a{
        font-size: 15px;
        
    }
    .main .heading{
        width: 100%;
    }
    .main .article{
        width: 100%;
    }
    .toppage .navbar nav li{
        padding-left: 20px;
    
    }.main{
        display: block
    }
    .article{
        margin-top: 10px;
    }
    .take h2{
        font-size: 30px;
    }
    .paras .para h4{
        font-size:15px;
    }
    .paras .para p{
        font-size: 15px;
    }
    .container2 h2{
        font-size: 30px;
    }
    .employee{
        grid-template-columns: 50% 50%;
    }
    #submit{
        font-size: 13px;
    }

}


@media only screen and (max-width:600px ){
    .button1 #bar{
        display: block;
    }
    .button1 #button1{
        display: none;
    }
    nav{
        
        position: absolute;
        height: 320px;
        color: white;
        padding: 20px 0;
        border-radius: 10px;
        top: 70px;
        left:-350%;
        width: 100%;
        background-color:black;
        text-align: center;   
        
    }
    nav.active{
        left: 0; 
    }
    .navbar nav li a{
        display: block;
        color: #fff;
        font-size:20px; 
    }
   
    #bar{
        position: absolute;
        top: 25px;
        right: 1%;
        display: block;
        cursor: pointer;
    
    }
    .main .heading{
        font-size: 20px;
    }
    .article #two{
        margin-left: 1%;
        width: 150px;

    }
    .article #one{
        width: 150px;
    }
    .paras{
        display: block;
    }
    .paras .para{
        width: 100%;

    }
    .employee{
        grid-template-columns: 100%;
    }
    .name p{
        padding-top: 10px;
        width: 100%;
    }
    .link h3{
        font-size: 20px;
    }
    .div{
        display: block;

    }
    .div .border{
        width: 100%;
        margin-bottom: 30px;
    }
    .border .paras p{
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .border .paras{
        margin-top: 10px;
    }
    .email{
        display: block;
        height: 70%;
       
    }
    .container5{
        height: auto;

    }
    .email h1{
        font-size: 20px;
        width: 100%;
        font-size: 16px;
        padding-left: 0;

    }
    .form{
        margin-top: 10px;
        width: 100%;
    }
    #email{
        background: wheat;
        text-align: center;
        height: 30px;
      
    }
    .email #submit{
        width: 100%;
        left: 1px;
        height: 30px;
        margin-top: 30px;
        background-color: white;

    }
    .container5{
        display: block;
        width: 100%;
    }
    .ul{
        display: block;  
    }
    .foot{
        width: 100%;
    }
    .footer{
        width: 100%;
    }









}





